################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gleed2d/bin/Release
/gleed2d/obj/x86/Release
.vs
/gleed2d/bin/Debug
/gleed2d/obj/x86/Debug
/build.bat
